<header class="mt-2 d-flex flex-row justify-content-between">
  <h1><%= @list.name %></h1>
  <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary d-flex align-items-center" %>
</header>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> | <%= bookmark.movie.rating %> | <%= link_to "remove", bookmark_path(bookmark), method: :delete %>
    </li>
  <% end %>
</ul>

<h3>Reviews</h3>

<%= link_to "Add review", new_list_review_path(@list) %>

<div class="review-container">

<% @reviews.each do |review| %>
  <div class="review">
    <p>Rating: <%= review.rating %></p>
    <p><%= review.comment %></p>
    <p>
      <%= link_to "edit", edit_review_path(review) %> | <%= link_to "delete", review_path(review), method: :delete %>
    </p>
  </div>
<% end %>


</div>