<h1><%= @list.name %></h1>

<ul>
  <%= link_to "Add movie", new_list_bookmark_path(@list) %>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> | <%= bookmark.movie.rating %> | <%= link_to "remove", bookmark_path(bookmark), method: :delete %>
    </li>
  <% end %>
</ul>
